{% extends 'base.html' %}

{% block content %}

<h1>{{ title }}</h1>

<form method="POST">

    {{ form.hidden_tag() }}

    <p>
        {{ form.name.label }}<br>
        {{ form.name() }}
    </p>

    <p>
        {{ form.price.label }}<br>
        {{ form.price() }}
    </p>

    <p>
        {{ form.category.label }}<br>
        {{ form.category() }}
    </p>

    <p>
        {{ form.description.label }}<br>
        {{ form.description() }}
    </p>

    <p>
        {{ form.in_stock() }}
        {{ form.in_stock.label }}
    </p>

    <p>
        {{ form.submit() }}
    </p>

</form>

{% endblock %}